In [ ]:
import pandas as pd
path = './db/match.csv'
df = pd.read_csv(path)
df.head()

In [ ]:
df["sport_id"].unique()

In [ ]:
df["sport_id"] = df["sport_id"].replace({1:"nfl", 2:"nba", 3:"mlb"})
df

In [ ]:
df.to_csv(path, index=False)

In [1]:
import pandas as pd

df = pd.read_csv('./db/date_id.csv')

In [2]:
df.head(10)

    date_play  idx sport_id  season_id
0  2024-09-05    1      nfl          1
1  2024-09-12    2      nfl          1
2  2024-09-19    3      nfl          1
3  2024-09-26    4      nfl          1
4  2024-10-03    5      nfl          1
5  2024-10-10    6      nfl          1
6  2024-10-17    7      nfl          1
7  2024-10-24    8      nfl          1
8  2024-10-31    9      nfl          1
9  2024-11-07   10      nfl          1

In [3]:
df.drop(columns=["season_id"], inplace=True)

In [7]:
df["season"] = df["sport_id"].apply(lambda x: "2024" if x == "mlb" else "2023")

In [8]:
df.head(50)

     date_play  idx sport_id season
0   2024-09-05    1      nfl   2023
1   2024-09-12    2      nfl   2023
2   2024-09-19    3      nfl   2023
3   2024-09-26    4      nfl   2023
4   2024-10-03    5      nfl   2023
5   2024-10-10    6      nfl   2023
6   2024-10-17    7      nfl   2023
7   2024-10-24    8      nfl   2023
8   2024-10-31    9      nfl   2023
9   2024-11-07   10      nfl   2023
10  2024-11-14   11      nfl   2023
11  2024-11-21   12      nfl   2023
12  2024-11-28   13      nfl   2023
13  2024-12-05   14      nfl   2023
14  2024-12-12   15      nfl   2023
15  2024-12-19   16      nfl   2023
16  2024-12-25   17      nfl   2023
17  2025-01-05   18      nfl   2023
18  2023-10-24    1      nba   2023
19  2023-10-25    2      nba   2023
20  2023-10-26    3      nba   2023
21  2023-10-27    4      nba   2023
22  2023-10-28    5      nba   2023
23  2023-10-29    6      nba   2023
24  2023-10-30    7      nba   2023
25  2023-10-31    8      nba   2023
26  2023-11-01    9      nba   2023
27  2023-11-02   10      nba   2023
28  2023-11-03   11      nba   2023
29  2023-11-04   12      nba   2023
30  2023-11-05   13      nba   2023
31  2023-11-06   14      nba   2023
32  2023-11-08   16      nba   2023
33  2023-11-09   17      nba   2023
34  2023-11-10   18      nba   2023
35  2023-11-11   19      nba   2023
36  2023-11-12   20      nba   2023
37  2023-11-13   21      nba   2023
38  2023-11-14   22      nba   2023
39  2023-11-15   23      nba   2023
40  2023-11-16   24      nba   2023
41  2023-11-17   25      nba   2023
42  2023-11-18   26      nba   2023
43  2023-11-19   27      nba   2023
44  2023-11-20   28      nba   2023
45  2023-11-21   29      nba   2023
46  2023-11-22   30      nba   2023
47  2023-11-24   32      nba   2023
48  2023-11-25   33      nba   2023
49  2023-11-26   34      nba   2023

In [9]:
df.to_csv('./db/date_id.csv', index=False)