In [1]:
# pip install pyspark

# spark

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ConfigurationExample") \
    .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
schemas = "id long,home_team_id string,away_team_id string,status string,home_team_score long,away_team_score long,live_home_team_score long,live_away_team_score long,home_team_spread float,away_team_spread float,point_total float,date_id long,kickoff_time date,sport_id string"
df = spark.read \
    .format("csv") \
    .option("header", "true") \
    .schema(schemas) \
    .option("inferSchema", "True") \
    .option("mode", "dropmalformed") \
    .load("./db/match.csv")
df.show()

24/06/18 08:05:38 WARN Utils: Your hostname, bbswsport resolves to a loopback address: 127.0.1.1; using 192.168.1.39 instead (on interface eno1)
24/06/18 08:05:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/18 08:05:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/18 08:05:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-----+------------+------------+------+---------------+---------------+--------------------+--------------------+----------------+----------------+-----------+-------+------------+--------+
|   id|home_team_id|away_team_id|status|home_team_score|away_team_score|live_home_team_score|live_away_team_score|home_team_spread|away_team_spread|point_total|date_id|kickoff_time|sport_id|
+-----+------------+------------+------+---------------+---------------+--------------------+--------------------+----------------+----------------+-----------+-------+------------+--------+
| 7587|          SD|         LAD| Final|              2|              5|                   2|                   5|             1.5|            -1.5|        8.5|    230|  2024-03-20|     mlb|
| 7588|         LAD|          SD| Final|             11|             15|                  11|                  15|            -1.5|             1.5|        8.5|    231|  2024-03-21|     mlb|
| 7590|         BAL|         LAA| Final|             11|              3|                  11|                   3|            -1.5|             1.5|        8.0|    232|  2024-03-28|     mlb|
| 7592|         CHW|         DET| Final|              0|              1|                   0|                   1|             1.5|            -1.5|        7.5|    232|  2024-03-28|     mlb|
| 7593|          KC|         MIN| Final|              1|              4|                   1|                   4|             1.5|            -1.5|        8.5|    232|  2024-03-28|     mlb|
| 7594|         HOU|         NYY| Final|              4|              5|                   4|                   5|            -1.5|             1.5|        9.0|    232|  2024-03-28|     mlb|
| 7595|         MIA|         PIT| Final|              5|              6|                   5|                   6|            -1.5|             1.5|        7.5|    232|  2024-03-28|     mlb|
| 7596|          SD|          SF| Final|              6|              4|                   6|                   4|             1.5|            -1.5|        7.5|    232|  2024-03-28|     mlb|
| 7597|         LAD|         STL| Final|              7|              1|                   7|                   1|            -1.5|             1.5|        8.5|    232|  2024-03-28|     mlb|
| 7598|          TB|         TOR| Final|              2|              8|                   2|                   8|            -1.5|             1.5|        7.5|    232|  2024-03-28|     mlb|
| 7599|         CIN|         WSH| Final|              8|              2|                   8|                   2|            -1.5|             1.5|        9.5|    232|  2024-03-28|     mlb|
| 7600|         TEX|         CHC| Final|              4|              3|                   4|                   3|            -1.5|             1.5|        8.5|    232|  2024-03-28|     mlb|
| 7601|         OAK|         CLE| Final|              0|              8|                   0|                   8|             1.5|            -1.5|        7.5|    232|  2024-03-29|     mlb|
| 7602|         SEA|         BOS| Final|              4|              6|                   4|                   6|            -1.5|             1.5|        7.5|    232|  2024-03-29|     mlb|
| 7603|         ARI|         COL| Final|             16|              1|                  16|                   1|            -1.5|             1.5|        8.5|    232|  2024-03-29|     mlb|
|10017|         NYM|         MIL| Final|              1|              3|                   1|                   3|             1.5|            -1.5|        7.5|    233|  2024-03-29|     mlb|
|10018|         PHI|         ATL| Final|              3|              9|                   3|                   9|             1.5|            -1.5|        7.0|    233|  2024-03-29|     mlb|
| 7604|          TB|         TOR| Final|              8|              2|                   8|                   2|            -1.5|             1.5|        8.0|    233|  2024-03-29|     mlb|
| 7605|         MIA|         PIT| Final|              2|              7|                   2|                   7|            -1.5|             1.5|        8.5|    233|  2024-03-29|     mlb|
| 7606|         HOU|         NYY| Final|              1|              7|                   1|                   7|             1.5|            -1.5|        9.0|    233|  2024-03-30|     mlb|
+-----+------------+------------+------+---------------+---------------+--------------------+--------------------+----------------+----------------+-----------+-------+------------+--------+
only showing top 20 rows

# Cout row data

In [3]:
rdd = spark.sparkContext.textFile('./db/match.csv')
rdd.count()

2431

# read 20 row data

In [4]:
# không lấy row 1 header
rdd = rdd.filter(lambda x: x.split(',')[0] != 'match_id')
rdd.take(20)

['id,home_team_id,away_team_id,status,home_team_score,away_team_score,live_home_team_score,live_away_team_score,home_team_spread,away_team_spread,point_total,date_id,kickoff_time,sport_id',
 '7587,SD,LAD,Final,2,5,2,5,1.5,-1.5,8.5,230,2024-03-20,mlb',
 '7588,LAD,SD,Final,11,15,11,15,-1.5,1.5,8.5,231,2024-03-21,mlb',
 '7590,BAL,LAA,Final,11,3,11,3,-1.5,1.5,8,232,2024-03-28,mlb',
 '7592,CHW,DET,Final,0,1,0,1,1.5,-1.5,7.5,232,2024-03-28,mlb',
 '7593,KC,MIN,Final,1,4,1,4,1.5,-1.5,8.5,232,2024-03-28,mlb',
 '7594,HOU,NYY,Final,4,5,4,5,-1.5,1.5,9,232,2024-03-28,mlb',
 '7595,MIA,PIT,Final,5,6,5,6,-1.5,1.5,7.5,232,2024-03-28,mlb',
 '7596,SD,SF,Final,6,4,6,4,1.5,-1.5,7.5,232,2024-03-28,mlb',
 '7597,LAD,STL,Final,7,1,7,1,-1.5,1.5,8.5,232,2024-03-28,mlb',
 '7598,TB,TOR,Final,2,8,2,8,-1.5,1.5,7.5,232,2024-03-28,mlb',
 '7599,CIN,WSH,Final,8,2,8,2,-1.5,1.5,9.5,232,2024-03-28,mlb',
 '7600,TEX,CHC,Final,4,3,4,3,-1.5,1.5,8.5,232,2024-03-28,mlb',
 '7601,OAK,CLE,Final,0,8,0,8,1.5,-1.5,7.5,232,2024-03-29,mlb',
 '7602,SEA,BOS,Final,4,6,4,6,-1.5,1.5,7.5,232,2024-03-29,mlb',
 '7603,ARI,COL,Final,16,1,16,1,-1.5,1.5,8.5,232,2024-03-29,mlb',
 '10017,NYM,MIL,Final,1,3,1,3,1.5,-1.5,7.5,233,2024-03-29,mlb',
 '10018,PHI,ATL,Final,3,9,3,9,1.5,-1.5,7,233,2024-03-29,mlb',
 '7604,TB,TOR,Final,8,2,8,2,-1.5,1.5,8,233,2024-03-29,mlb',
 '7605,MIA,PIT,Final,2,7,2,7,-1.5,1.5,8.5,233,2024-03-29,mlb']

# đếm số lượng những trận đấu của từng đội

In [5]:
mapped_hometeam_rdd = rdd.map(lambda x: (x.split(',')[1], 1))
mapped_awayteam_rdd = rdd.map(lambda x: (x.split(',')[2], 1))
mapped_awayteam_rdd.take(10)

[('away_team_id', 1),
 ('LAD', 1),
 ('SD', 1),
 ('LAA', 1),
 ('DET', 1),
 ('MIN', 1),
 ('NYY', 1),
 ('PIT', 1),
 ('SF', 1),
 ('STL', 1)]

In [6]:
reduced_hometeam_rdd = mapped_hometeam_rdd.reduceByKey(lambda x, y: x + y)
reduced_awayteam_rdd = mapped_awayteam_rdd.reduceByKey(lambda x, y: x + y)
reduced_awayteam_rdd.collect()

[('away_team_id', 1),
 ('LAD', 81),
 ('LAA', 81),
 ('NYY', 81),
 ('PIT', 81),
 ('WSH', 81),
 ('CLE', 81),
 ('BOS', 81),
 ('COL', 81),
 ('CIN', 81),
 ('MIA', 81),
 ('OAK', 81),
 ('TB', 81),
 ('BAL', 81),
 ('ARI', 81),
 ('SD', 81),
 ('DET', 81),
 ('MIN', 81),
 ('SF', 81),
 ('STL', 81),
 ('TOR', 81),
 ('CHC', 81),
 ('MIL', 81),
 ('ATL', 81),
 ('KC', 81),
 ('TEX', 81),
 ('CHW', 81),
 ('NYM', 81),
 ('PHI', 81),
 ('HOU', 81),
 ('SEA', 81)]

In [7]:
reduced_hometeam_rdd.collect()

[('LAD', 81),
 ('BAL', 81),
 ('MIA', 81),
 ('TB', 81),
 ('CIN', 81),
 ('OAK', 81),
 ('ARI', 81),
 ('WSH', 81),
 ('NYY', 81),
 ('COL', 81),
 ('PIT', 81),
 ('LAA', 81),
 ('CLE', 81),
 ('BOS', 81),
 ('home_team_id', 1),
 ('SD', 81),
 ('CHW', 81),
 ('KC', 81),
 ('HOU', 81),
 ('TEX', 81),
 ('SEA', 81),
 ('NYM', 81),
 ('PHI', 81),
 ('CHC', 81),
 ('MIL', 81),
 ('MIN', 81),
 ('STL', 81),
 ('DET', 81),
 ('SF', 81),
 ('ATL', 81),
 ('TOR', 81)]

# đếm số lượng đội thắng

In [8]:
def is_valid_row(row):
    try:
        parts = row.split(',')
        match_id = parts[0]
        home_team = parts[1]
        away_team = parts[2]
        home_score = int(parts[4])
        away_score = int(parts[5])
        return True
    except Exception as e:
        print(f"Invalid row: {row}, Error: {e}")
        return False

rdd = rdd.filter(is_valid_row)

In [9]:
mapped_win_rdd = rdd.map(lambda x: (x.split(',')[1], 1) if int(x.split(',')[4]) >= int(x.split(',')[5]) else (x.split(',')[2], 1))

In [10]:

reduced_win_rdd = mapped_win_rdd.reduceByKey(lambda x, y: x + y)
reduced_win_rdd.collect()

Invalid row: 8708,OAK,KC,Scheduled,,,,,,,,315,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8709,WSH,ARI,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8710,CLE,SEA,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8711,MIN,TB,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8712,CHW,HOU,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8713,COL,LAD,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8714,OAK,KC,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8715,NYY,BAL,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8716,STL,SF,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8717,SD,MIL,Scheduled,,,,,,,,316,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8718,CHC,NYM,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8719,PHI,ARI,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8720,DET,CHW,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8721,PIT,TB,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8722,NYY,ATL,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8723,CIN,BOS,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8724,MIA,SEA,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8725,CLE,TOR,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8726,TEX,KC,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8727,HOU,BAL,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8728,COL,WSH,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8729,SD,MIL,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8730,OAK,MIN,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8731,LAD,LAA,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8732,DET,CHW,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8733,STL,SF,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8734,CHC,NYM,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8735,PHI,ARI,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8736,TEX,KC,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8737,PIT,TB,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8738,OAK,MIN,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8739,HOU,BAL,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8740,CIN,BOS,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8741,MIA,SEA,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8742,CLE,TOR,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8743,NYY,ATL,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8744,SD,MIL,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8745,COL,WSH,Scheduled,,,,,,,,318,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8746,LAD,LAA,Scheduled,,,,,,,,318,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8747,PHI,ARI,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8748,NYY,ATL,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8749,PIT,TB,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8750,CIN,BOS,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8751,DET,CHW,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8752,MIA,SEA,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8753,CLE,TOR,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8754,HOU,BAL,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8755,STL,SF,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8757,TEX,KC,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8758,COL,WSH,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8759,OAK,MIN,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8760,SD,MIL,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8756,CHC,NYM,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8761,BAL,CLE,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8762,DET,PHI,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8763,TB,SEA,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8764,CIN,PIT,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8765,BOS,TOR,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8766,STL,ATL,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8767,CHW,LAD,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8768,KC,MIA,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8769,MIL,TEX,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8770,LAA,OAK,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8771,SD,WSH,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8772,SF,CHC,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8773,BAL,CLE,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8774,DET,PHI,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8775,TB,SEA,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8776,NYM,NYY,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8777,CIN,PIT,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8778,BOS,TOR,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8779,STL,ATL,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8780,HOU,COL,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8781,CHW,LAD,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8782,KC,MIA,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8783,MIL,TEX,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8784,LAA,OAK,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8785,ARI,MIN,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8786,SD,WSH,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8787,SF,CHC,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8788,TB,SEA,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8789,DET,PHI,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8790,CIN,PIT,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8791,HOU,COL,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8792,KC,MIA,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8793,MIL,TEX,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8794,LAA,OAK,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8795,SD,WSH,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8796,BAL,CLE,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8797,NYM,NYY,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8798,BOS,TOR,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8799,STL,ATL,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8800,CHW,LAD,Scheduled,,,,,,,,322,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8801,ARI,MIN,Scheduled,,,,,,,,322,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8802,SF,CHC,Scheduled,,,,,,,,322,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8803,ARI,MIN,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8804,SF,CHC,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 10023,CHW,ATL,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8805,PHI,MIA,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8806,BAL,TEX,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8807,TOR,NYY,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8808,STL,CIN,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8809,KC,CLE,Scheduled,,,,,,,,323,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8810,LAA,DET,Scheduled,,,,,,,,323,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8811,PHI,MIA,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8812,TB,WSH,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8813,BAL,TEX,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8814,TOR,NYY,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8820,CHW,COL,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8815,NYM,HOU,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8816,BOS,SD,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8817,ATL,PIT,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8818,MIL,CHC,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8819,KC,CLE,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8821,STL,CIN,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8822,LAA,DET,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8823,SEA,MIN,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8824,ARI,OAK,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8825,SF,LAD,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8826,CHW,COL,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8827,STL,CIN,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8828,TOR,NYY,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8829,PHI,MIA,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8830,MIL,CHC,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8831,KC,CLE,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8832,NYM,HOU,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8833,ARI,OAK,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8834,ATL,PIT,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8835,BOS,SD,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8836,TB,WSH,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8837,SF,LAD,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8838,BAL,TEX,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8839,LAA,DET,Scheduled,,,,,,,,325,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8840,SEA,MIN,Scheduled,,,,,,,,325,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8842,ATL,PIT,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8841,PHI,MIA,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8843,BOS,SD,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8845,TOR,NYY,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8846,NYM,HOU,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8847,TB,WSH,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8848,MIL,CHC,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8849,KC,CLE,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8850,CHW,COL,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8851,STL,CIN,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8852,SF,LAD,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8853,LAA,DET,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8854,SEA,MIN,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8855,ARI,OAK,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8844,BAL,TEX,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8856,TOR,HOU,Scheduled,,,,,,,,327,2024-07-01,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8857,WSH,NYM,Scheduled,,,,,,,,327,2024-07-01,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8858,COL,MIL,Scheduled,,,,,,,,327,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8859,MIA,BOS,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8860,CLE,CHW,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8861,PIT,STL,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8862,WSH,NYM,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8863,NYY,CIN,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8864,TOR,HOU,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8865,ATL,SF,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8866,MIN,DET,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8867,CHC,PHI,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8868,TEX,SD,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8869,KC,TB,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8870,COL,MIL,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8871,OAK,LAA,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8872,SEA,BAL,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8873,LAD,ARI,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8874,MIA,BOS,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8875,CLE,CHW,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8876,PIT,STL,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8877,WSH,NYM,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8878,NYY,CIN,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8879,TOR,HOU,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8880,ATL,SF,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8881,CHC,PHI,Scheduled,,,,,,,,329,2024-07-04,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8882,TEX,SD,Scheduled,,,,,,,,329,2024-07-04,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8883,MIN,DET,Scheduled,,,,,,,,329,2024-07-04,mlb, Error: invalid literal for int() with base 10: ''

[('LAD', 42),
 ('BAL', 45),
 ('NYY', 50),
 ('PIT', 33),
 ('CIN', 34),
 ('CLE', 44),
 ('BOS', 35),
 ('ARI', 33),
 ('TB', 33),
 ('WSH', 33),
 ('COL', 24),
 ('LAA', 26),
 ('OAK', 26),
 ('MIA', 23),
 ('SD', 37),
 ('DET', 33),
 ('MIN', 38),
 ('TOR', 33),
 ('TEX', 33),
 ('MIL', 40),
 ('ATL', 37),
 ('SEA', 40),
 ('SF', 34),
 ('STL', 33),
 ('PHI', 47),
 ('KC', 40),
 ('CHC', 33),
 ('HOU', 32),
 ('CHW', 18),
 ('NYM', 31)]

In [11]:
reduced_win_rdd.sortBy(lambda x: x[1], ascending=False).collect()[0]

('NYY', 50)

In [12]:
rdd.take(10)

Invalid row: id,home_team_id,away_team_id,status,home_team_score,away_team_score,live_home_team_score,live_away_team_score,home_team_spread,away_team_spread,point_total,date_id,kickoff_time,sport_id, Error: invalid literal for int() with base 10: 'home_team_score'

['7587,SD,LAD,Final,2,5,2,5,1.5,-1.5,8.5,230,2024-03-20,mlb',
 '7588,LAD,SD,Final,11,15,11,15,-1.5,1.5,8.5,231,2024-03-21,mlb',
 '7590,BAL,LAA,Final,11,3,11,3,-1.5,1.5,8,232,2024-03-28,mlb',
 '7592,CHW,DET,Final,0,1,0,1,1.5,-1.5,7.5,232,2024-03-28,mlb',
 '7593,KC,MIN,Final,1,4,1,4,1.5,-1.5,8.5,232,2024-03-28,mlb',
 '7594,HOU,NYY,Final,4,5,4,5,-1.5,1.5,9,232,2024-03-28,mlb',
 '7595,MIA,PIT,Final,5,6,5,6,-1.5,1.5,7.5,232,2024-03-28,mlb',
 '7596,SD,SF,Final,6,4,6,4,1.5,-1.5,7.5,232,2024-03-28,mlb',
 '7597,LAD,STL,Final,7,1,7,1,-1.5,1.5,8.5,232,2024-03-28,mlb',
 '7598,TB,TOR,Final,2,8,2,8,-1.5,1.5,7.5,232,2024-03-28,mlb']

In [13]:
mapped_date_rdd = rdd.map(lambda x: (x.split(',')[-2]))
mapped_date_rdd.min()

Invalid row: 8708,OAK,KC,Scheduled,,,,,,,,315,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8709,WSH,ARI,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8710,CLE,SEA,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8711,MIN,TB,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8712,CHW,HOU,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8713,COL,LAD,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8714,OAK,KC,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8715,NYY,BAL,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8716,STL,SF,Scheduled,,,,,,,,316,2024-06-20,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8717,SD,MIL,Scheduled,,,,,,,,316,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8718,CHC,NYM,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8719,PHI,ARI,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8720,DET,CHW,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8721,PIT,TB,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8722,NYY,ATL,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8723,CIN,BOS,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8724,MIA,SEA,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8725,CLE,TOR,Scheduled,,,,,,,,317,2024-06-21,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8726,TEX,KC,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8727,HOU,BAL,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8728,COL,WSH,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8729,SD,MIL,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8730,OAK,MIN,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8731,LAD,LAA,Scheduled,,,,,,,,317,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8732,DET,CHW,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8733,STL,SF,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8734,CHC,NYM,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8735,PHI,ARI,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8736,TEX,KC,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8737,PIT,TB,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8738,OAK,MIN,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8739,HOU,BAL,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8740,CIN,BOS,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8741,MIA,SEA,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8742,CLE,TOR,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8743,NYY,ATL,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8744,SD,MIL,Scheduled,,,,,,,,318,2024-06-22,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8745,COL,WSH,Scheduled,,,,,,,,318,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8746,LAD,LAA,Scheduled,,,,,,,,318,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8747,PHI,ARI,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8748,NYY,ATL,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8749,PIT,TB,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8750,CIN,BOS,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8751,DET,CHW,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8752,MIA,SEA,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8753,CLE,TOR,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8754,HOU,BAL,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8755,STL,SF,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8757,TEX,KC,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8758,COL,WSH,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8759,OAK,MIN,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8760,SD,MIL,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8756,CHC,NYM,Scheduled,,,,,,,,319,2024-06-23,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8761,BAL,CLE,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8762,DET,PHI,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8763,TB,SEA,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8764,CIN,PIT,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8765,BOS,TOR,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8766,STL,ATL,Scheduled,,,,,,,,320,2024-06-24,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8767,CHW,LAD,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8768,KC,MIA,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8769,MIL,TEX,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8770,LAA,OAK,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8771,SD,WSH,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8772,SF,CHC,Scheduled,,,,,,,,320,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8773,BAL,CLE,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8774,DET,PHI,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8775,TB,SEA,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8776,NYM,NYY,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8777,CIN,PIT,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8778,BOS,TOR,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8779,STL,ATL,Scheduled,,,,,,,,321,2024-06-25,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8780,HOU,COL,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8781,CHW,LAD,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8782,KC,MIA,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8783,MIL,TEX,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8784,LAA,OAK,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8785,ARI,MIN,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8786,SD,WSH,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8787,SF,CHC,Scheduled,,,,,,,,321,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8788,TB,SEA,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8789,DET,PHI,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8790,CIN,PIT,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8791,HOU,COL,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8792,KC,MIA,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8793,MIL,TEX,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8794,LAA,OAK,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8795,SD,WSH,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8796,BAL,CLE,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8797,NYM,NYY,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8798,BOS,TOR,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8799,STL,ATL,Scheduled,,,,,,,,322,2024-06-26,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8800,CHW,LAD,Scheduled,,,,,,,,322,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8801,ARI,MIN,Scheduled,,,,,,,,322,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8802,SF,CHC,Scheduled,,,,,,,,322,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8803,ARI,MIN,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8804,SF,CHC,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 10023,CHW,ATL,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8805,PHI,MIA,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8806,BAL,TEX,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8807,TOR,NYY,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8808,STL,CIN,Scheduled,,,,,,,,323,2024-06-27,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8809,KC,CLE,Scheduled,,,,,,,,323,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8810,LAA,DET,Scheduled,,,,,,,,323,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8811,PHI,MIA,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8812,TB,WSH,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8813,BAL,TEX,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8814,TOR,NYY,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8820,CHW,COL,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8815,NYM,HOU,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8816,BOS,SD,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8817,ATL,PIT,Scheduled,,,,,,,,324,2024-06-28,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8818,MIL,CHC,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8819,KC,CLE,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8821,STL,CIN,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8822,LAA,DET,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8823,SEA,MIN,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8824,ARI,OAK,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8825,SF,LAD,Scheduled,,,,,,,,324,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8826,CHW,COL,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8827,STL,CIN,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8828,TOR,NYY,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8829,PHI,MIA,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8830,MIL,CHC,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8831,KC,CLE,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8832,NYM,HOU,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8833,ARI,OAK,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8834,ATL,PIT,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8835,BOS,SD,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8836,TB,WSH,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8837,SF,LAD,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8838,BAL,TEX,Scheduled,,,,,,,,325,2024-06-29,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8839,LAA,DET,Scheduled,,,,,,,,325,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8840,SEA,MIN,Scheduled,,,,,,,,325,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8842,ATL,PIT,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8841,PHI,MIA,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8843,BOS,SD,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8845,TOR,NYY,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8846,NYM,HOU,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8847,TB,WSH,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8848,MIL,CHC,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8849,KC,CLE,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8850,CHW,COL,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8851,STL,CIN,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8852,SF,LAD,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8853,LAA,DET,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8854,SEA,MIN,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8855,ARI,OAK,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8844,BAL,TEX,Scheduled,,,,,,,,326,2024-06-30,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8856,TOR,HOU,Scheduled,,,,,,,,327,2024-07-01,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8857,WSH,NYM,Scheduled,,,,,,,,327,2024-07-01,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8858,COL,MIL,Scheduled,,,,,,,,327,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8859,MIA,BOS,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8860,CLE,CHW,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8861,PIT,STL,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8862,WSH,NYM,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8863,NYY,CIN,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8864,TOR,HOU,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8865,ATL,SF,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8866,MIN,DET,Scheduled,,,,,,,,328,2024-07-02,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8867,CHC,PHI,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8868,TEX,SD,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8869,KC,TB,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8870,COL,MIL,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8871,OAK,LAA,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8872,SEA,BAL,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8873,LAD,ARI,Scheduled,,,,,,,,328,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8874,MIA,BOS,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8875,CLE,CHW,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8876,PIT,STL,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8877,WSH,NYM,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8878,NYY,CIN,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8879,TOR,HOU,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8880,ATL,SF,Scheduled,,,,,,,,329,2024-07-03,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8881,CHC,PHI,Scheduled,,,,,,,,329,2024-07-04,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8882,TEX,SD,Scheduled,,,,,,,,329,2024-07-04,mlb, Error: invalid literal for int() with base 10: ''
Invalid row: 8883,MIN,DET,Scheduled,,,,,,,,329,2024-07-04,mlb, Error: invalid literal for int() with base 10: ''

'2024-03-20'